body {
    margin: 0;
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.legend {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addButton {
    background-color: whitesmoke;
    box-shadow: 1px 1px 5px black;
    border-radius: 50px 10px;
    margin: 2%;
    font-size: xx-large;
    padding: 1% 2%;
}

/* Card Formatting */
.cards {
    margin: 2% 5%;
    padding: 1% 2%;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-auto-rows: 1fr;
    gap: 2em;
    background-color: #5281c4;
    background-image: linear-gradient(315deg, #5281c4 0%, #88a6db 74%);
}

.card {
    display: grid;
    grid-template-columns: 9fr 1fr;
    background-color: whitesmoke;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(60, 145, 255);
    box-shadow: 1px 1px 10px black;
    padding: 1% 2%;

}

.card h2 h3 p {
    margin: 5px;
}
.card h3 {
    grid-column: 1/3;
    font-style: italic;
}

/* Card elements in corners. */
.card img, .card button {
    justify-self: end;
    align-self: start;
}

.card img p {
    align-self: end;
}

.card button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font-size: large;
}

.card button:hover, .card img:hover {
    font-weight: bolder;
    transform: scale(1.2);
    text-shadow: 0 0 2px white;
}

[data-read=true] {
    opacity: 100%;
}

[data-read=false] {
    opacity: 25%;
}

/* Overlay/Form Formatting */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2% 4%;
    background-color: silver;
    border-radius: 5%;
}

form div {
    display: flex;
    align-content: center;
    gap: 5%;
}

input[type=submit] {
    width: 50%;
    margin: auto;
}

input[type=checkbox] {
    transform: scale(1.5);
}